<!--Navbar -->
<nav class="navbar navbar-dark bg-primary fixed-top">
  <a class="navbar-brand" routerLink="/user/:uid"><b>Profile</b></a>
  <a class="color-white" routerLink="/user/:uid"><i class="fas fa-check"></i></a>
</nav>
<br>
<!-- Form -->
<div class="container">
  <form>
      <!-- Username -->
      <div class="form-group">
          <label for="username"><b>Username</b></label>
          <input id="username" type="text" class="form-control" [(ngModel)]="user.username" name="username" placeholder="Enter Username...">
      </div>
      <!-- Email -->
      <div class="form-group">
          <label for="email" ><b>Email</b></label>
          <input id="email" type="email" class="form-control" name="email" [(ngModel)]="user.email"  placeholder="Enter Email...">
      </div>
      <!-- First Name -->
      <div class="form-group">
          <label for="firstName" ><b>First Name</b></label>
          <input id="firstName" type="text" class="form-control" name="firstName" [(ngModel)]="user.firstName"  placeholder="Enter First Name...">
      </div>
      <!-- Last Name -->
      <div class="form-group" >
          <label for="lastName" ><b>Last Name</b></label>
          <input id="lastName" type="text" class="form-control" name="lastName" [(ngModel)]="user.lastName"  placeholder="Enter Last Name...">
      </div>
      <!-- Buttons -->
      <a routerLink="/user/:uid/website" class="btn btn-primary btn-block">Websites</a>
      <a routerLink="/login" class="btn btn-danger btn-block">Logout</a>
  </form>
</div>
<!--Footer -->
<nav class="navbar navbar-dark bg-primary fixed-bottom">
  <div class="full-width">
      <a class="color-white float-right" routerLink="/user/:uid"><i class="fas fa-user"></i></a>
  </div>
</nav>